name: Despliegue de Página Web

on:
  push:
    branches:
      - main  # Cambia esto según la rama en la que deseas desplegar

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Despliega en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./es  